<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body>
    <h2>SignUp</h2>
    <form method="post" action="/user">
      <label for="name">Full Name</label>
      <input type="text" name="name" id="name" placeholder="name" />
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="email" />
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
      />
      <button type="submit">Signup</button>
    </form>
  </body>
</html>
